#ifndef SECRETS_H
#define SECRETS_H

//これらの設定は各自異なると思いますので、secrets.h.exampleをコピーして
//secrets.hを作成し、各自のSSID、パスワード、サーバーURLを設定してください。

// WiFi設定
const char *ssid = "YOUR_SSID_HERE";
const char *password = "YOUR_PASSWORD_HERE";

// Server設定
const char *serverUrl = "http://YOUR_SERVER_IP:YOUR_PORT/api/m5data";

#endif